/*  100: Thin
    200: Extra Light (Ultra Light)
    300: Light
    400: Normal
    500: Medium
    600: Semi Bold (Demi Bold)
    700: Bold
    800: Extra Bold (Ultra Bold)
    900: Black (Heavy) */

/* https://gwfh.mranftl.com/fonts */

/* inter-regular - cyrillic_latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../../assets/fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2");
	/* src: url("./fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2"); */
}
