/* Main Site Layout */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
	font-family: var(--main-font);
}

html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: var(--main-font);
	background: var(--color-background);
	color: var(--color-text);
	font-size: 16px;

	&._hidden {
		padding-right: var(--scroll-bar-width, 0);
		overflow: hidden;
	}
}

@media screen and (width <= 768px) {
}
