*,
*::before,
*::after {
	box-sizing: border-box;
	outline-offset: 4px;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
	appearance: none;
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

button {
	display: inline-flex;
	align-items: center;
	background: transparent;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img,
svg {
	display: block;
}
